<mat-card (mouseleave)="onMouseLeave()" (mouseenter)="onMouseEnter()" [ngClass] = "frontFace?'front':'back'">
  <mat-card-header>
    <mat-card-title style="justify-content: center; align-items: center;">{{ spell.name }}</mat-card-title>
    <mat-card-subtitle>Level {{ spell.level }} {{ spell.school.name }}</mat-card-subtitle>
  </mat-card-header>
  @if (frontFace){
    <mat-card-content style="height: 250px; width: 250px; justify-content: center; align-items: center;">
      <p><strong>Casting Time:</strong> {{ spell.casting_time }}</p>
      <p><strong>Range:</strong> {{ spell.range }}</p>
      <p><strong>Components:</strong> {{ spell.components }}</p>
      <p><strong>Classes:</strong> @for (playerClass of spell.classes; track playerClass.index) {
        @if (!$last) {
          {{ playerClass.name }},
        } @else if ($last) {
          {{ playerClass.name }}
        }
      }
      </p>
      @if (spell.subclasses.length > 0) {
        <p><strong>Subclasses:</strong> @for (playerSubClass of spell.subclasses; track playerSubClass.index) {
          @if (!$last) {
            {{ playerSubClass.name }},
          } @else if ($last) {
            {{ playerSubClass.name }}
          }
        }
        </p>
      }
    </mat-card-content>
  } @else {
    <mat-card-content style="height: 250px; width: 250px; overflow-y: auto; justify-content: center; align-items: center;">
      <p>{{spell.desc}}</p>
      @if (spell.higher_level && spell.higher_level.length > 0) {
        <p><strong>At Higher Levels:</strong></p>
        <p>{{spell.higher_level}}</p>
      }
    </mat-card-content>
  }

</mat-card>
